body{
    background-color: white;
}

a{
    color: black;

}

a:hover{
    color: dimgrey;

}

#namn{
    text-align: center;
    color: black;
    font-size: 300%;
}

.text{
    font-size: xx-large;
    color: black;
    text-align: center;
}